version: 2
updates:
  # Enable version updates for Bun packages
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "00:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
    reviewers:
      - "wysh3"
    labels:
      - "dependencies"
    allow:
      - dependency-type: "all"
    commit-message:
      prefix: "chore"
      include: "scope"
