# Dependencies
node_modules/**

# Build files
build/

# Environment variables
.env
*.env

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log

# Local database
chat_history.db

# Lock file (User requested)
package-lock.json

# Local Dev
memory-bank/
docs/zeugs/
.repomix/
.cursor/
.cursor*
.aider*
# Coverage
node_modules/
coverage/*.css
coverage/*.js
coverage/*.png
coverage/index.html
coverage/lcov-report/
coverage/utils/
coverage/types/
coverage/tools/
coverage/server/
coverage/schema/
!coverage/lcov.info
coverage/coverage-final.json
